* {
  background-color: black;
  text-align: center;
  font-family: "Verdana", sans-serif;
  color: white;
}

h1{
  font-size: 50px;
}

h2 {
  font-weight: 300;
  font-size: 42px;
}

p {
  font-size: 21px;
  color: gray;
}

.btn {
  color: Aquamarine;
  font-size: 16px;

}

.copyr{
  text-align: right;
}
